[build]
# Needed on some targets (e.g. RISC-V) to build libz-ng-sys
pre-build = [
    "ln -fs /usr/share/zoneinfo/UTC /etc/localtime",
    "dpkg --add-architecture $CROSS_DEB_ARCH",
    "apt-get update && DEBIAN_FRONTEND=noninteractive apt-get install --assume-yes cmake",
]

[target.x86_64-unknown-linux-gnu]
# Make it possible to compile ring
image = "ghcr.io/cross-rs/x86_64-unknown-linux-gnu:main"
