name: Release-plz

permissions:
  pull-requests: write
  contents: write

on:
  push:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  # Release unpublished packages.
  release-plz-release:
    name: Release-plz release
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'VorpalBlade' }}
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: true
          fetch-depth: 0
          token: ${{ secrets.GH_PAT }}
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Run release-plz
        uses: release-plz/action@8724d33cd97b8295051102e2e19ca592962238f5 # v0.5.108
        with:
          command: release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}

  # Create a PR with the new versions and changelog, preparing the next release.
  release-plz-pr:
    name: Release-plz PR
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'VorpalBlade' }}
    permissions:
      contents: write
      pull-requests: write
    concurrency:
      group: release-plz-${{ github.ref }}
      cancel-in-progress: false
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: true
          fetch-depth: 0
          token: ${{ secrets.GH_PAT }}
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Run release-plz
        uses: release-plz/action@8724d33cd97b8295051102e2e19ca592962238f5 # v0.5.108
        with:
          command: release-pr
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
